body {
  background: linear-gradient(45deg, red, pink, blue, grey);
  animation: bgShift 8s linear infinite;
  color: rgb(18, 17, 18);
  font-family: 'Comic Sans MS', cursive, sans-serif;
  text-align: center;
  user-select: none;
}

@keyframes bgShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

